/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .p_profil_item{
        display: block;
      }
      .p_mr-auto{
        width: 100% !important;
      }
      .p_leftSideBar {
        width: 100% !important;
       }
      .p_float-left {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 2px 3px 0 rgba(0, 0, 0, 0.12) !important;
        background: linear-gradient(to right, #2D323E 0%, #3C4252 100%);
         padding: 20px !important;
         flex-direction: column !important;
          height: stretch !important ;
          width: 100% !important;
          overflow-y: scroll;
          display: -webkit-box;
        }
    
    .p_left_side_bar{
      display: none;
    }
    .p_leftSideBar .active{
      color: orange;
    }
    .p_leftNavItemStorage {
      color: white;
      border-bottom: 1px solid rgba(255,255,255, .4);
      font-size: 12px;
      vertical-align: middle;
      width: 100px;
      align-items: center;
      display: block;
      line-height: 1;  
      line-height: 1.5;
      width: 100%;
      text-align: center;
      padding: 10px 0 13px;
      flex-direction: column;
    }
    .p_leftNavItem {
      color: white;
      border-bottom: 1px solid  #8c8c8c;
      font-size: 12px;
      vertical-align: middle;
      width: 100px;
      align-items: center;
      display: block;
      line-height: 1;  
      display: '-webkit-inline-box';
      line-height: 1.5;
      width: 100%;
      text-align: center;
      padding: 10px 0 13px;
      flex-direction: column;
    
    }
    
    .p_leftNavLinkMenu {
      display: block;
      padding: 6px 6px 6px 25px;
      color: white;
      opacity: 0.8;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    }
    
    .p_leftNavLinkMenu:hover {
    color: orange;
    }
    .p_leftNavLinkIcon {
        font-size: 20px;
        color: rgb(167, 201, 255);
        line-height: 2; 
      }

    .wrapper{
        text-align: center;
    }
    .leftsection{
        padding: 15px;
    }
    .user_image{
        width: 50%;
    }
    .jss3739 {
        display: flex;
    }
    .jss3752 {
        color: #ababab;
    }
    .jss3754 {
        flex-grow: 1;
        max-width: none;
        flex-shrink: 1;
    }
    .jss3747 {
        color: rgba(0, 0, 0, 0.87);
        padding: 0;
        position: relative;
        overflow: hidden;
        font-size: 14px;
        max-width: 264px;
        min-width: 72px;
        box-sizing: border-box;
        min-height: 48px;
        text-align: center;
        font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
        font-weight: 500;
        line-height: 1.75;
        flex-shrink: 0;
        white-space: normal;
        text-transform: uppercase;
    }
    .jss294 {
        padding: 3px;
        color: inherit;
        border: 0;
        margin: 0;
        cursor: pointer;
        display: inline-flex;
        outline: none;
        padding: 0;
        position: relative;
        align-items: center;
        user-select: none;
        border-radius: 0;
        vertical-align: middle;
        justify-content: center;
        -moz-appearance: none;
        text-decoration: none;
        background-color: transparent;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        outline: none !important;
    }

    button[aria-selected="true"]{
        border-bottom: 1.2px solid #004085;
    }
    button[aria-selected="false"]{
        border-bottom: none;
        }
    .jss3755 {
        width: 100%;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .jss3752 {
        color: #3C4252;
    }
    .rightsection {
        padding: 2%;
    }
  }

  /* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .p_profil_item{
        display: block;
      }
      .p_mr-auto{
        width: 100% !important;
      }
      .p_leftSideBar {
        width: 100% !important;
       }
      .p_float-left {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 2px 3px 0 rgba(0, 0, 0, 0.12) !important;
        background: linear-gradient(to right, #2D323E 0%, #3C4252 100%);
         padding: 20px !important;
         flex-direction: column !important;
          height: stretch !important ;
          width: 100% !important;
          overflow-y: scroll;
          display: -webkit-box;
        }
    
    .p_left_side_bar{
      display: none;
    }
    .p_leftSideBar .active{
      color: orange;
    }
    .p_leftNavItemStorage {
      color: white;
      border-bottom: 1px solid rgba(255,255,255, .4);
      font-size: 12px;
      vertical-align: middle;
      width: 100px;
      align-items: center;
      display: block;
      line-height: 1;  
      line-height: 1.5;
      width: 100%;
      text-align: center;
      padding: 10px 0 13px;
      flex-direction: column;
    }
    .p_leftNavItem {
      color: white;
      border-bottom: 1px solid  #8c8c8c;
      font-size: 12px;
      vertical-align: middle;
      width: 100px;
      align-items: center;
      display: block;
      line-height: 1;  
      display: '-webkit-inline-box';
      line-height: 1.5;
      width: 100%;
      text-align: center;
      padding: 10px 0 13px;
      flex-direction: column;
    
    }
    
    .p_leftNavLinkMenu {
      display: block;
      padding: 6px 6px 6px 25px;
      color: white;
      opacity: 0.8;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    }
    
    .p_leftNavLinkMenu:hover {
    color: orange;
    }
    .p_leftNavLinkIcon {
        font-size: 20px;
        color: rgb(167, 201, 255);
        line-height: 2; 
      }


    .wrapper{
        text-align: center;
    }
    .leftsection{
        padding: 15px;
    }
    .user_image{
        width: 50%;
    }
    .jss3739 {
        display: flex;
    }
    .jss3752 {
        color: #ababab;
    }
    .jss3754 {
        flex-grow: 1;
        max-width: none;
        flex-shrink: 1;
    }
    .jss3747 {
        color: rgba(0, 0, 0, 0.87);
        padding: 0;
        position: relative;
        overflow: hidden;
        font-size: 14px;
        max-width: 264px;
        min-width: 72px;
        box-sizing: border-box;
        min-height: 48px;
        text-align: center;
        font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
        font-weight: 500;
        line-height: 1.75;
        flex-shrink: 0;
        white-space: normal;
        text-transform: uppercase;
    }
    .jss294 {
        padding: 3px;
        color: inherit;
        padding: 3px;
        border: 0;
        margin: 0;
        cursor: pointer;
        display: inline-flex;
        outline: none;
        padding: 0;
        position: relative;
        align-items: center;
        user-select: none;
        border-radius: 0;
        vertical-align: middle;
        justify-content: center;
        -moz-appearance: none;
        text-decoration: none;
        background-color: transparent;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;
        outline: none !important;
    }
    
    button[aria-selected="true"]{
        border-bottom: 1.2px solid #004085;
      }
      button[aria-selected="false"]{
          border-bottom: none;
        }
    .jss3755 {
        width: 100%;
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .jss3752 {
        color: #3C4252;
    }
    .rightsection {
     padding: 2%;
    }
  }
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .wrapper {
        display: flex;
    }
    .leftsection {
        width: 30%;
        float: left;
      }
      .rightsection {
          width: 70%;
          float: right;
          padding-top: 25px;
      }
      .leftcontainer {
          text-align: center;
          padding: 20px;
      }
      .rightcontainer {
          text-align: center;
          padding: 20px;
      }
      .tabsection {
          background-color: #f5f5f5;
          width: 100%;
          display: flex;
          box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
          z-index: 1100;
          box-sizing: border-box;
          flex-shrink: 0;
          flex-direction: column;
      }
      
      
      .jss3739 {
          display: flex;
      }
      .jss3752 {
          color: #ababab;
      }
      .jss3754 {
          flex-grow: 1;
          max-width: none;
          flex-shrink: 1;
      }
      .jss3747 {
          color: rgba(0, 0, 0, 0.87);
          padding: 0;
          position: relative;
          overflow: hidden;
          font-size: 14px;
          max-width: 264px;
          min-width: 72px;
          box-sizing: border-box;
          min-height: 48px;
          text-align: center;
          font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
          font-weight: 500;
          line-height: 1.75;
          flex-shrink: 0;
          white-space: normal;
          text-transform: uppercase;
      }
      .jss294 {
          color: inherit;
          border: 0;
          margin: 0;
          cursor: pointer;
          display: inline-flex;
          outline: none;
          padding: 0;
          position: relative;
          align-items: center;
          user-select: none;
          border-radius: 0;
          vertical-align: middle;
          justify-content: center;
          -moz-appearance: none;
          text-decoration: none;
          background-color: transparent;
          -webkit-appearance: none;
          -webkit-tap-highlight-color: transparent;
          outline: none !important;
      }
      
      button[aria-selected="true"]{
          border-bottom: 1.2px solid #004085;
        }
        button[aria-selected="false"]{
            border-bottom: none;
          }
      .jss3755 {
          width: 100%;
          display: inline-flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
      }
      .jss3752 {
          color: #3C4252;
      }

      .p_leftNavLinkIcon {
        font-size: 20px;
        color: rgb(167, 201, 255);
        line-height: 2; 
      }
      
    .p_leftSideBar .active{
        color: orange;
      }
      .p_leftNavItemStorage {
        color: white;
        border-bottom: 1px solid rgba(255,255,255, .4);
        font-size: 12px;
        vertical-align: middle;
        width: 100px;
        align-items: center;
        display: block;
        line-height: 1;  
        line-height: 1.5;
        width: 100%;
        text-align: center;
        padding: 10px 0 13px;
        flex-direction: column;
      }
      .p_leftNavItem {
        color: white;
        border-bottom: 1px solid  #8c8c8c;
        font-size: 12px;
        vertical-align: middle;
        width: 100px;
        align-items: center;
        display: block;
        line-height: 1;  
        display: '-webkit-inline-box';
        text-decoration: none;
        line-height: 1.5;
        width: 100%;
        text-align: center;
        padding: 10px 0 13px;
        flex-direction: column;
      
      }
  
      .p_leftNavLinkMenu {
        display: block;
        padding: 6px 6px 6px 25px;
        color: white;
        opacity: 0.8;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      }
  
  .p_leftNavLinkMenu:hover {
    color: orange;
  }
  .p_mr-auto{
    padding: 0 !important;
     flex-direction: column;
  }
   .p_float-left {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 2px 3px 0 rgba(0, 0, 0, 0.12) !important;
    background: linear-gradient(to right, #2D323E 0%, #3C4252 100%);
     padding: 20px !important;
     flex-direction: column !important;
      height: stretch !important ;
      width: 282px;
   }
   .p_left_side_bar{
    display: none !important;
  }
  }  
  
