    .navItem {
      color: white;
      align-items: center;
      display: flex;
      line-height: 1;
      padding-right: 1.5rem;
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
      flex-direction: column;
      /* ':hover': {
        backgroundColor: 'red',
        cursor: 'cell'
      },
      '@media (max-width: 700px)': {
        backgroundColor: '#ff0000'
      } */
    }
    .navLinkIcon {
      font-size: 23px;
      padding-bottom: 4px;
      color: #ffffff;
    }
    .navLinkMenu {
        display: block;
        padding: 6px;
        font-size: 13px;
        font-weight: 400;
        font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
        line-height: 1.3;
    }
    .leftNavItem {
      color: white;
      border-bottom: 1px solid rgba(255,255,255, .4);
      font-size: 12px;
      vertical-align: middle;
      width: 100px;
      align-items: center;
      display: block;
      line-height: 1;
      text-align: center;
      padding: 10px 0 13px;
      flex-direction: column;
      /* ':hover': {
        backgroundColor: '#0074d9'
      },
      '@media (max-width: 700px)': {
        backgroundColor: '#ff0000'
      } */
    }
    .leftNavLinkMenu {
      display: block;
      padding: 6px;
      font-size: 13px;
      font-weight: 400;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      line-height: 1.3;
    }
    .leftNavLinkIcon {
      font-size: 30px;
      color: #ffffff;
    }
    .searchBox {
      margin-left: 33;
      width: 95%;
      height: 120%;
      background-color: white;
      /* '::-webkit-input-placeholder': {
        color: 'white!important',
      } */
    }
