* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.App-logo {
  width: 45px;
  height: 45px;
}

.notfoundback {
  position: relative;
  height: 100vh;
  background-color: #f9f9f9;
}

.notfoundback .notfound {
  position: absolute;
  left: 35%;
  top: 20%;
  background-color: #ffffff;
  border: 2px solid #dee2e6;

}
.UserInfo {
  margin-left: 40%;
  font-size: 25px;
}
.passwordReset {
  text-align: left
}
.notfound {
  max-width: 460px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}
.wrap {
  height: 100%;
}
.label{
  color: #000;
  font-size: 20px;
  font-weight: 600;
  float: left;
}

.notfound .notfound-404 {
  height: 158px;
  line-height: 153px;
}



@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }

  .notfound .notfound-404 h1 {
      font-size: 122px;
  }
}
