
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .App {
    text-align: center;
  }
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
    height: 55px;
    width: 55px;
  }
  .topmenu_logo_word{
    width: 92px;
    margin-bottom: 6px;
  }
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .profil_bar{
    display: none;
  }
  .App-logo {
   width: 35px;
   height: 35px;
  }

  .logo_link {
    width: 200px !important;
    padding: 5px;
  }
  .toggle_menu {
    color: white;
    display: block;
    cursor: pointer;
    display: 15px;
  }
  .gigx4 {
    display: none;
  }
  .mr-auto-topmenu{
    width: 65%;
  }
  .searchBox {
    width: 100% !important;
    border: 1px solid #3C4252 !important;
    background: linear-gradient(to right, #2b2f43 0%, #2b2f43 100%) !important;
    margin-left: 33 !important;
    width: 100% !important;
    height: 120% !important;
    border: 1px solid #3C4252 !important;
    padding-right: 9px !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .inputForm input::placeholder {
    color: #bab7b7;
    font-size: 12px;
}
.inputForm input:focus {
  color: #bab7b7;
  border-color: #3C4252;  
}
.inputForm {
  width: 100%;
  height: 85%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
  .gigx1{
    padding: 10px;
  }
  .mr-auto{
    padding: 10px;
  }
  .top_menu{
    background: linear-gradient(to right, #252839 0%, #252839 100%);
    padding: 10px;
    height: 65px;
    width: 100%;
    z-index: 1000;
    flex-flow: row nowrap;
    display: flex;
align-items: center;	
  }
  
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  .App {
    text-align: center;
  }
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
    height: 55px;
    width: 55px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .mr-auto{
    padding: 10px;
  }
  .profil_bar{
    display: none;
  }
  .App-logo {
   width: 35px;
   height: 35px;
  }
  .topmenu_logo_word{
    width: 115px;
    margin-bottom: 5px;
  }
  .logo_link {
    width: 230px !important;
    padding: 5px;
  }
  .toggle_menu {
    color: white;
    padding: 15px;
    display: block;
    cursor: pointer;
  }
  .gigx4 {
    display: none;
  }
  .mr-auto-topmenu{
    width: 65%;
  }
  .searchBox {
    width: 100% !important;
    border: 1px solid #3C4252 !important;
    background: linear-gradient(to right, #2b2f43 0%, #2b2f43 100%) !important;
    margin-left: 33 !important;
    width: 100% !important;
    height: 120% !important;
    border: 1px solid #3C4252 !important;
    padding-right: 9px !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .inputForm input::placeholder {
    color: #bab7b7;
}
.inputForm input:focus {
  color: #bab7b7;
  border-color: #3C4252;  
}
.inputForm {
  width: 100%;
  height: 85%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
  .gigx1{
    padding: 10px;
  }
  .top_menu{
    background: linear-gradient(to right, #252839 0%, #252839 100%);
    padding: 10px;
    height: 65px;
    width: 100%;
    z-index: 1000;
    flex-flow: row nowrap;
    display: flex;
align-items: center;	
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .top_menu{
    background: linear-gradient(to right, #252839 0%, #252839 100%);
    padding: 10px;
    height: 65px;
    width: 100%;
    z-index: 1000;
    flex-flow: row nowrap;
    display: flex;
   align-items: center;	
  }
  .navItem {
    color: white;
    align-items: center;
    display: flex;
    line-height: 1;
    padding-right: 1.5rem;
    text-align: center;
    padding: 0 !important;
    height: 100%;
    flex-direction: column;
}
  .navLinkIcon {
    font-size: 20px;
    color: rgb(167, 201, 255);
    line-height: 2; 
    padding-bottom: 4px;
  } 
  .navLinkMenu {
      display: block;
      padding: 6px;
      color: white;
      font-size: 13px;
      font-weight: 400;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      line-height: 1.3;
  }
  .profil_content {
    display: -webkit-box;
    float: right;
    height: 100%;
    width: 90%;
    padding-left: 17%;
  }
  .toggle_menu {  
    color: white;
    display: none;
  }
  .mr-auto-topmenu{
    width: 100%;
    padding-left: 55px;
    margin: 0;
  }
  .logo_link{
    width: 18%;
     padding: 10px;
     display: contents;
  }
  .topmenu_logo_word {
    width: 150px;
    margin: 0;
  }
.profil_bar{
   width: 30%;
   height: 100%;
   float: left; 
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 45px;
  width: 45px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.searchBox {
    margin-left: 33 !important;
    width: 100% !important;
    height: 120% !important;
    border: 1px solid #3C4252 !important;
    background: linear-gradient(to right, #2b2f43 0%, #2b2f43 100%) !important;
    padding-right: 57px !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
  }
  .inputForm input::placeholder {
    color: #bab7b7;
}
.inputForm input:focus {
  color: #bab7b7;
  border-color: #3C4252;  
}
.inputForm {
  width: 100%;
  height: 85%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.gigx1 {
    height: 65px;
  }
  .gigx2 {
    padding-top: 7px;
    width: 70%;
    height: 100%;
    float: left;
    min-width: 250px;
  }
  .gigx3 {
    width: 100%;
    float: left;
    height: 85%;
  }
  .gigx4 {
    width: 0%;
    float: right;
  }
  .gigx5 {
    top: 11px;
    right: 50px;
    width: 18px;
    color: #a6a6a9;
    height: 18px;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    vertical-align: middle;
  }
#dropdown-bar {
    box-shadow: 0 3px 12px rgba(27,31,35,.15);
      position: relative;
      border-radius: 3%;
      top: 0;
      left: 140px;
      z-index: 1000;
      width: 170px;
      overflow-x: hidden;
      min-height: 16px;
      transform-origin: 75px 0px 0px;
      background-color: white;
      border: 1px solid #d4d4d4;
  }
  .dropdown-item {
      line-height: 1.4;
      display: -webkit-box !important;
      padding: 5px;
  }
  .dropdown-item :hover {
    background-color: rgba(18, 58, 253, 0.08);
  }
  .dropdown-row {
    flex: 1 1 auto;
      padding: 0 16px;
      min-width: 0;
  }
  .dropdown-link {
    color: rgb(138, 138, 138);
    font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
    font-weight: 400;
    line-height: 2;
    font-size: 19px;
  }
  .dropdown-icon {
    line-height: 2.5;
  }
  .dropdown-icon span {
    color: rgb(138, 138, 138);
  }



  .wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    padding: 10px;

    /* Styles */
    background: transparent;
    border-radius: 7px;
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}
.wrapper-dropdown-3:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #8aa8bd transparent;
}
.wrapper-dropdown-3 .dropdown {
  /* Size & position */
  padding-left: 5px;
  position: absolute;
    top: 60px;
    left: 13px;
    right: 0;
margin-top: 5px;
    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.2s ease-in;
    list-style: none;
    z-index: 1000;  

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: inline-flex  ;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}
.dropdown li {
  border-bottom: 1px solid #e6e8ea;
}
.dropdown li a span{
  padding-left: 10px;
}
.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover {
    background: #e2ffff;
}
.wrapper-dropdown-3 .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1) transparent;    
}
.wrapper-dropdown-3.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}

}