/* Mobile Styles */
@media only screen and (max-width: 400px) {
 .leftSection{
   display: none;
 }
 .navSection {
  background-color: black !important;
 }
  .rightSection {
    padding: 2%;
  }
  .sign-in-up-container {
    padding: 10px !important;
  }
  .signin-title {
    color: blue !important;
    padding: 6px !important;
  }
  .signup-title {
    color: blue !important;
    padding: 6px !important;
  }
  .Login {
    padding-top: 60px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .leftSection{
    display: none;
  }
  .navSection {
   background-color: black !important;
  }
   .rightSection {
     padding: 2%;
   }
   .sign-in-up-container {
     padding: 10px !important;
   }
   .signin-title {
    padding: 3px;
    text-decoration: none;
    color: blue !important;
    cursor: pointer;
    transition: font-size 0.5s ease 0s;
   }
   .signup-title {
    padding: 3px;
  text-decoration: none;
  color: blue !important;
  cursor: pointer;
  transition: font-size 0.5s ease 0s;
   }
   .Login {
     padding-top: 60px;
   }
  
}


@media only screen and (min-width: 961px) {

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 60px;
}
.App-image {
  animation: App-logo-spin infinite 1000s linear;
  height: 600px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.foo {
  width: 10pc;
}
.barBaz {
  color: tomato;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;

  }
  .signupForm {
    margin: 0px 55px 0px 55px;
  }
.nav-wrapper {
  padding: 10px;
}
  .Login form {
    margin: 0 auto;
    max-width: 400px;
    
  }
  .loginForm {
    padding: 15px;
    border: none;
    padding: 0;
  }
}
.mainSection {
  display: -webkit-box;
  height: stretch;
}
.leftSection {
  width: 65%;
  background-color: black;
}
.leftSection img {
  width: 100%;
  height: stretch;
}
.rightSection {
  width: 35%;

}
.sign-in-up-container {
  text-align-last: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
}
.signin-title {
  font-size: 25px;
  padding: 3px;
  text-decoration: none;
  color: #1da1f2!important;
  cursor: pointer;
  transition: font-size 0.5s ease 0s;
}
.signup-title {
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #1da1f2!important;
    padding: 3px;
    transition: font-size 0.5s ease 0s;
}
.cursor {
  cursor: pointer;
  color: #1da1f2!important;
}
.checkbox_label span {
  padding: 7px;
}
.mr-auto {
  padding: 0 40px 0 40px;
}
.navSection {
  position: absolute;
  background-color: transparent;
}
.codeColor {
color: black !important;
}
.wrap {
  height:stretch;
}

}