.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.foo {
  width: 10pc;
}
.barBaz {
  color: tomato;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;

  }
  .signupForm {
    margin: 0px 55px 0px 55px;
  }
.nav-wrapper {
  padding: 10px;
}
  .Login form {
    margin: 0 auto;
    max-width: 400px;
    
  }
  .loginForm {
    padding: 15px;
    border: none;
    padding: 0;
  }
}
.mainSection {
  display: -webkit-box;
}
.leftSection {
  width: 65%;
  background-color: black;
  height: -webkit-fill-available;
}
.rightSection {
  width: 35%;
}
.sign-in-up-container {
  text-align-last: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
}
.signin-title {
  font-size: 25px;
}
.signup-title {
    font-size: 15px;
}
.checkbox_label span {
  padding: 7px;
}
.mr-auto {
  padding: 0 40px 0 40px;
}
.navSection {
  position: absolute;
}